

.FilmeBanner {
    display: flex;
    border-right: solid 2px black;
}

.FilmeBanner img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}

.infos {
 background-image: url(../Imagens/Fundopadre.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;
   
}
