.comentario-card{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.comentario{
    display: flex;
    flex-direction: column  ;
    color: rgba(0, 0, 0, 0.74);
     background-color: rgba(240, 248, 255, 0.868);
     border-radius: 20px;
    width: 250px;
    height: 250px;
    padding: 10px;
    gap: 10px;
}




.comentario-header{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.comentario-texto{
        
      color: black;
     
}

.estrelas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.estrela{
    color: rgba(255, 255, 0, 0.896);
}