.PaiHeader {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}

.NomeFilme {
    font-size: 34px;
    font-weight: 400;
    color: white;
}

.infoFilme {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    width: 80vh;
    height: auto; 
    padding: 15px;
}

.Tempo {
    font-size: 17px;
    color: rgba(169, 169, 169, 0.86);
}

.classificacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.idade {
    width: 30px;
    height: 30px;
    color: white;
}

.sobre {
    font-size: 15px;
    color: white;
}

.descricao {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.genero-elenco-estefilme {
    display: flex;
    flex-direction: row ; 
    justify-content: flex-start;
    gap: 1px;
    width: 260px;
    color: rgba(0, 0, 0, 0.826);
    border: solid 2px white;
    background-color: rgba(245, 245, 245, 0.989);
    border-radius: 5px;
    padding: 1;
}

.elenco {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.nome {
    font-size: 15px;
    padding: 5px;
}

.nomezinho {
    font-size: 15px;
    font-weight: bold;
    padding: 1px;
    text-align: center;
}
