.Banner{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(
        to top, 
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)),
        url('../Imagens/Fundopadre.jpg') center/cover no-repeat;
    border-radius: 20px;

}       